In [1]:
#Import neccessary libraries
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import pyplot

from sklearn import preprocessing

In [2]:
#Read in the different datasets
#Read in store
store=pd.read_csv('../data/store.csv')
#Read in test data
test=store_data=pd.read_csv('../data/test.csv')

#Read in train data 
train=store_data=pd.read_csv('../data/train.csv')

#Read in sample submission 
sample_submission=store_data=pd.read_csv('../data/sample_submission.csv')

train.shape, test.shape, store.shape

/Users/rssebudandi/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

((1017209, 9), (41088, 8), (1115, 10))

In [3]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [16]:
#Extract Day, Month, Year weekdays, weekends , number of days to holidays , number of days after holiday , begining of monthe, mid month, end of month, 
train.Date = pd.to_datetime(train.Date)
train['Day'] = train.Date.dt.day
train['Month'] = train.Date.dt.month
train['Year'] = train.Date.dt.year
train['Weekday'] = train.Date.dt.weekday
train['Month_start'] = train.Date.dt.is_month_start
train['Month_end'] = train.Date.dt.is_month_end
train['weekend'] = ((pd.DatetimeIndex(train.index).dayofweek) // 5 == 1).astype(float)


train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Day,Month,Year,Weekday,Month_start,Month_end,weekend
0,1,5,2015-07-31,5263,555,1,1,0,1,31,7,2015,4,False,True,0.0
1,2,5,2015-07-31,6064,625,1,1,0,1,31,7,2015,4,False,True,0.0
2,3,5,2015-07-31,8314,821,1,1,0,1,31,7,2015,4,False,True,0.0
3,4,5,2015-07-31,13995,1498,1,1,0,1,31,7,2015,4,False,True,0.0
4,5,5,2015-07-31,4822,559,1,1,0,1,31,7,2015,4,False,True,0.0

In [9]:
train['Weekday']

0          4
1          4
2          4
3          4
4          4
          ..
1017204    1
1017205    1
1017206    1
1017207    1
1017208    1
Name: Weekday, Length: 1017209, dtype: int64